# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyenv
.python-version

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache

# Pyre type checker
.pyre/

# profiling
prof/

# Jupyter Notebook
.ipynb_checkpoin_
